<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset password</title>
    <script src="https://kit.fontawesome.com/f0a51a8ca9.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.tailwindcss.com"></script>
    
</head>

<body>
    <div style="margin-bottom: 130px;">

        <nav class="navbar navbar-dark bg-dark fixed-top ">
            <div class="container-fluid">

                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas"
                    data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="offcanvas offcanvas-start text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar"
                    aria-labelledby="offcanvasDarkNavbarLabel">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Dark offcanvas</h5>
                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"
                            aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="#">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Link</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                    Dropdown
                                </a>
                                <ul class="dropdown-menu dropdown-menu-dark">
                                    <li><a class="dropdown-item" href="#">Action</a></li>
                                    <li><a class="dropdown-item" href="#">Another action</a></li>
                                    <li>
                                        <hr class="dropdown-divider" />
                                    </li>
                                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                                </ul>
                            </li>
                        </ul>
                       
                    </div>
                </div>

                <div class=' w-44'> <img src={navlogo2} alt="logo" /></div>

                <a class="navbar-brand" href="#">User Login Page</a>



            </div>

        </nav>


    </div>

    <div class='w-96 m-auto h-96 '>
       

        <form>
            <input type="password" class=" password form-control mb-8 " name="password" id="password" placeholder="Enter password" required>
            
            <input type="password" class=" confirm_password form-control  mb-8" id="confirm_password" placeholder=" Confirm password"
                name="confirm password">
            <button type="submit" class="btn btn-primary w-96 "><b>Submit</b></button>

        </form>
    </div>
    <script>
        const form = document.querySelector("form");
        form.addEventListener("submit", async (e) => {
            e.preventDefault();
            const password = document.querySelector(".password").value
            const confirmPassword = document.querySelector(".confirm_password").value
            
          
            if(password === confirmPassword ){
                
                const response = await fetch(`/api/v1/update-password/<%=id%>/<%=token%>`, {
                    method: "PUT",
                    headers:{"Content-Type": "application/json"},
                    body: JSON.stringify({password})
                });
                const result = await response.json();
                console.log(result)
                if(result.success){
                    (async function(){
                        await window.location.assign('https://food-delivery-sable-two.vercel.app/passwordupdatedsuccessfully')
                    })()

                }else{
                    alert('success error')
                }

            }else{
              alert('passwords does not match')
            }
        })
    </script>

    <div>
        <div class='bg-sky-950 h-auto -mt-4 text-white Underline no-underline '>
            <div class='flex  gap-28 p-10'>
                <div >
                    <h5>Infomation</h5>

                    <div class='mt-6'>
                        <p><a href="#">About Us</a></p>
                        <p><a href="#">FAQ</a></p>
                        <p><a href="#">Affiliate</a></p>
                        <p><a href="#">Private Policy</a></p>
                        <p><a href="#">Contact Us</a></p>
                        <p><a href="#">Terms and Condition</a></p>
                    </div>

                </div>
                <div>
                    <h5 >My Account</h5>
                    <div class='mt-6 '>
                        <p><a href="">My Orders</a></p>
                        <p><a href="">My reviews</a></p>
                        <p><a href="">My Account</a></p>
                    </div>


                </div>

                <div>32
                    <h5>Cities</h5>

                    <div class='mt-6'>
                        <p><a href="">Lagos</a></p>
                        <p><a href="">Abuja</a></p>
                    </div>

                </div>

            </div>
            <hr class='-mt-8 mx-20' />

            <div>
                <div class='flex justify-evenly mt-4 '>
                    <div class=' border-solid border-1  bg-blue-800 rounded-lg rounded-bl-2xl text-center w-24 rounded-tr-3xl p-2  '><i class="fa-brands fa-facebook-f fa-fade text-3xl text-white" ></i></div>
                    <div class='border-solid border-1 rounded-lg bg-red-600 rounded-bl-2xl text-center w-24 rounded-tr-3xl p-2'><i class="fa-brands fa-google-plus fa-fade text-3xl text-white" ></i></div>
                    <div class='border-solid border-1 rounded-lg  bg-black rounded-bl-2xl text-center w-24 rounded-tr-3xl p-2'><i class="fa-brands fa-apple fa-fade text-3xl text-white"></i></div>
                    <div class=' border-solid border-1  bg-black rounded-lg rounded-bl-2xl text-center w-24 rounded-tr-3xl p-2  '><i class="fa-brands fa-x-twitter fa-fade text-3xl text-white"></i></div>
                </div>
                <p class='text-center text-slate-400 p-6 mt-4 '>Copyright © 2024 CookAway.ng</p>
            </div>

        </div>

    </div>
    



    <script type="module" src="/src/main.jsx"></script>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
        integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
        crossorigin="anonymous"></script>
</body>

</html>